# Replace with the public URL shown in the Render dashboard.
EXPO_PUBLIC_API_URL=https://pokeapi-zz36.onrender.com
EXPO_PUBLIC_PROFESORES_API_URL=https://pokeapi-profes.onrender.com
EXPO_PUBLIC_ADD_PROFESORES_API_URL=https://pokeapi-crear-profesor.onrender.com
EXPO_PUBLIC_MOD_PROFESORES_API_URL=https://TU-SERVICIO-MOD-PROFESORES.onrender.com
EXPO_PUBLIC_DEL_PROFESORES_API_URL=https://TU-SERVICIO-DEL-PROFESORES.onrender.com
EXPO_PUBLIC_RICK_API_URL=http://localhost:8000
