# Replace with the public URL shown in the Render dashboard.
EXPO_PUBLIC_API_URL=https://pokeapi-zz36.onrender.com
EXPO_PUBLIC_PROFESORES_API_URL=https://pokeapi-profes.onrender.com
EXPO_PUBLIC_RICK_API_URL=http://localhost:8000
