PORT=3000
DATABASE_URL=postgresql://postgres:TU_PASSWORD@db.tu-proyecto.supabase.co:5432/postgres
ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006,exp://192.168.0.10:19000,https://tu-frontend.vercel.app
