PORT=3000
DATABASE_URL=postgresql://postgres:TU_PASSWORD@db.tu-proyecto.supabase.co:5432/postgres
ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006,exp://192.168.0.10:19000,https://tu-frontend.vercel.app
MONGODB_URI=mongodb+srv://YOUR_DB_USER:YOUR_URL_ENCODED_PASSWORD@YOUR_CLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE=rickandmorty
MONGODB_COLLECTION=characters
