PORT=3000
DATABASE_URL=postgresql://postgres:<DB_PASSWORD>@db.<PROJECT_REF>.supabase.co:5432/postgres
ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006,exp://192.168.0.10:19000,https://tu-frontend.vercel.app
MONGODB_URI=mongodb+srv://<DB_USER>:<URL_ENCODED_PASSWORD>@<CLUSTER>.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE=rickandmorty
MONGODB_COLLECTION=characters
PROFESORES_MONGODB_DATABASE=Profesores





